---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Flipbook from "../components/Flipbook.astro"
---
<MainLayout title="Titel">
	<!-- <article>
		<h1>Index overskrift</h1>
		<Button>Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
		<Image src={thumbsup} alt=""></Image>
	</article> -->

	<article id="hero" class="h-screen relative">
	<div class="left absolute bottom-5 left-3">
			<h1 class="-mb-6 relative z-10">HELLO, I'M</h1>
			<img class="h-52 -mb-6 -ml-4" src="hero2.png" alt="">
			<h1 class="text-5xl">MMD STUDENT</h1>
			<h1>FROM GOTHENBURG, SWEDEN</h1>
	</div>

	<div class="right absolute bottom-5 right-3">
		<img class="h-[30rem]" src="9.webp" alt="">
	</div>
	</article>
	<div class="flex justify-center my-4">
		<div class="border-t w-1/2 border-black"></div>
	  </div>


	  <article class="h-screen relative">
		<div class="p-4 flex flex-row justify-between ">
			<p class="w-[25rem] text-xl">My name is <span class="font-bold">August Hasselblad.</span> <br> I am a 25-year-old <span class="font-bold">multimedia design</span> student at KEA in Copenhagen. I work part-time as a graphic designer and also create paintings.</p>
			<ul class="text-s">
				<li>København, Denmark</li>
				<li>augu.brem@gmail.com</li>
				<li>+46721770889</li>
				<li><a href="instagram.com">instagram</a></li>
			</ul>
		</div>

		<section class="mx-4 py-8 pt-40">
  <div class="grid grid-cols-3 text-xl gap-20">
    <div>
      <h1 class="font-bold">PROFILE</h1>
      <div class="lg:w-72">
      	<p>I am passionate about composition and obsessed over colors. I am detail-oriented, communicative, and I'm always looking for opportunities to learn more.</p>
	      <p>My areas of interest are <span class="font-bold">graphic and web design, web development, painting, screen printing,</span> and <span class="font-bold">drawing</span></p>
      </div>
    </div>
    <div class="border-l border-black pl-4">
      <h1 class="font-bold">EDUCATION</h1>
      <ul>
        <li>KEA - Multimedia design <br>2023-2025</li>
        <li>Dômen Konstskola - Fine arts <br>2022-2023</li>
      </ul>

      <h1 class="font-bold pt-10">LANGUAGES</h1>
      <ul>
        <li><span class="font-bold">Swedish</span> - Native</li>
        <li><span class="font-bold">English</span> - Fluent</li>
        <li><span class="font-bold">Danish</span> - WIP</li>
      </ul>
    </div>
    <div class="border-l border-black pl-4">
      <h1 class="font-bold">SOFTWARE SKILLS</h1>
      <ul>
        <li>Adobe Photoshop</li>
        <li>Adobe Illustrator</li>
        <li>Adobe Premier Pro</li>
        <li>Figma</li>
        <li>HTML/CSS</li>
        <li>Javascript</li>
        <li>Tailwind CSS</li>
        <li>Astro</li>
        <li>Git / Github</li>
        <li>Supabase</li>
      </ul>
    </div>
  </div>
</section>
<!-- bg kladd! -->
<div class="bg-flower-bg bg-no-repeat" style="background-size: 400px; background-position: left 90%;"></div>

	  </article>
	  <div class="flex justify-center my-4">
		<div class="border-t w-1/2 border-black"></div>
	  </div>

	  <section id="projects3" class="relative bg-center bg-no-repeat bg-contain bg_projects z-0">
	
			<div class="sticky top-20 z-50 ml-4">
				<h1 class=" font-bold text-6xl">PERSONAL <br> PROJECTS</h1>
				<p class=" font-serif italic"> (It's pretty much my paintings) </p>
			</div>
		
		<article class="grid grid-cols-1 lg:grid-cols-12 overflow-hidden mx-auto ">
			<img src="6.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-5 lg:col-span-4 lg:mt-40 slide3">
			<img src="4.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-10 lg:col-span-2 slide4">
			<img src="9.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-5 lg:col-span-3 lg:mt-40 slide5">
			<img src="demon.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-10 lg:col-span-2 slide6">
			<img src="faces.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-6 lg:col-span-2 lg:mt-20 slide7">
			<img src="mosh.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-9 lg:col-span-3 slide8">
			<img src="himmel.png" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-5 lg:col-span-2 lg:mt-20 slide9">
			<img src="halo.png" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-8 lg:col-span-2 lg:mt-40 slide10">
			<img src="pokemon.png" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-11  lg:col-span-2 lg:mt-5 slide11">
			<img src="pink.png" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-6 lg:col-span-1 lg:mt-20 slide12">
			<img src="bla.png" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-8 lg:col-span-4 lg:mt-20 slide13">
			<img src="dino.png" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-6 lg:col-span-2 lg:mt-10 slide14">
			<img src="prints.png" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-9 lg:col-span-2 slide15">
		   
		</article>
		<div class="flex justify-center text-center mt-40"><p class=" font-serif italic text-xs"> (Flip through my sketchbooks by clicking on the pages) </p></div>
		<div class="mt-20"><Flipbook/></div>
	</section>


</MainLayout>