---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
import 'animate.css';
const { title } = Astro.props;
---
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>August Hasselblad</title>
		<link rel="stylesheet" href="https://use.typekit.net/xdi1txo.css">
		<link rel="stylesheet" href="https://use.typekit.net/xdi1txo.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>

	</head>
	<body>

		<header class="w-full fixed z-50">
			<Header></Header>
		</header>
		
		<main>
			<slot />
		</main>

		<footer>
			<Footer></Footer>
		</footer>
			
	</body>
</html>